@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Reigo;
    src: url("/fonts/Reigo.ttf") format("truetype");
  }

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

/* Para sacarle las flechitas al input de telefono en el form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
